body {
  background-color: rgb(242, 238, 209);
}

h1 {
  text-align: center;
  color: rgb(182, 87, 236);
  font-family: fantasy;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  color: rgb(26, 137, 211);
  font-family: fantasy;
}

.cli-crossword {
  margin-bottom: 50px;
}

p {
  text-align: center;
}
